body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

.fondo {
    background-image: url("fuegos_artificiales.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #ff9800;
    color: white;
    z-index: 10;
}

#mensaje {
    margin-top: 20px;
    font-size: 100px;
    font-weight: bold;
    opacity: 0;
    z-index: 10;
    color: rgb(117, 230, 42);
}

.mostrar {
    animation: aparecer 10s forwards;
}

@keyframes aparecer {
    to {
        opacity: 1;
    }
}

.particula {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: gold;
    border-radius: 50%;
    animation: explotar 1s ease-out forwards;
}

@keyframes explotar {
    from {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
    to {
        transform: translate(var(--x), var(--y)) scale(0);
        opacity: 0;
    }
}